
[submodule "external/rapidfuzz"]
	path = external/rapidfuzz
	url = https://github.com/rapidfuzz/rapidfuzz-cpp.git
[submodule "external/booru-japanese-tag"]
	path = external/booru-japanese-tag
	url = https://github.com/boorutan/booru-japanese-tag.git
